$Fuente1: 'Oswald', sans-serif;
$color-primario: #fff;
$color-secundario: #000;
$color-variacion-claro: #f2f2f2;

@mixin btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: $color-primario;
  font-size: 15px;
  border: 1px solid $color-primario;
  margin: 10px 0;
  &:hover {
    opacity: 0.7;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $color-secundario;
  color: $color-primario;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.3'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

a {
  color: $color-primario;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Navigation */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;

  /* Nav Left */
  &__nav-brand {
    width: 50px;
  }
  &__nav-menu {
    display: flex;
    margin-left: 20px;
    flex: 1;
  }
  &__nav-li {
    padding: 10px;
  }
  &__nav-a {
    padding: 6px;
    &:hover {
      border-bottom: 2px solid $color-primario;
      transition: 0.3s ease all;
    }
  }
}

/* SHOWCASE */
.line {
  margin: 10px 0;
}

.showcase {
  width: 100%;
  height: 550px;
  background: url('../img/showcase2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  &__title,
  &__text {
    margin-bottom: 10px;
  }
  &__btn {
    @include btn;
  }
}

/* NEWS CARDS */

.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  .new-cards__card {
    width: 100%;
    margin-bottom: 20px;
  }
  .new-cards__img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    vertical-align: top;
  }
  .new-cards__title {
    font-size: 20px;
    margin: 10px 0;
  }
  .new-cards__a {
    padding: 10px 0;
    color: $color-variacion-claro;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* CARDS BANNER ONE */

.cards-banner-one {
  width: 100%;
  height: 350px;
  background: url('../img/tech-red.jpg');
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  &__content {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-primario;
    background: rgba($color-secundario, 0.7);
  }
  &__btn {
    @include btn;
  }
  &__h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  &__p {
    margin: 10px 0 10px 0;
    width: 80%;
  }
}

/* CARDS BANNER TWO */
.cards-banner-two {
  background: url('../img/image-five.jpg') no-repeat center center/cover;
  width: 100%;
  height: 350px;
  &__content {
    width: 50%;
    padding: 100px 0 0 30px;
    color: $color-primario;
  }
  &__btn {
    @include btn;
  }
}

/* Social */
.social {
  margin: 50px;
  &__p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__a {
    margin: 0 30px;
  }
  &__fb,
  &__tw,
  &__lk {
    font-size: 3rem;
  }
}

/* Footer */
.footer-links {
  background: #2f3640;
  color: #616161;
  font-size: 16px;
  padding: 35px 0;
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-links__ul {
    margin: 0 auto;
  }
  .footer-links__li {
    line-height: 2.8;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  &__author {
    color: $color-primario;
    margin-top: 70px;
  }
}
